---
component: Helper functions
analytics:
  pageCategory: helpers
  component: helpers
---

<section class="aui-page-panel-content">
    <table id="auidocs-helper-functions-table" class="aui aui-table-sortable tablesorter tablesorter-default">
        <thead>
        <tr class="tablesorter-headerRow">
            <th class="function-name-header">Function</th>
            <th class="function-description-header aui-table-column-unsortable">Description</th>
            <th class="function-available-header tablesorter-header">Available since</th>
            <th class="function-example-header aui-table-column-unsortable">Example</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="function">dim</td>
            <td class="function-description">
                <p>Blanket management.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    AJS.dim();
                    setTimeout(function () { AJS.undim(); }, 1000);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">undim</td>
            <td class="function-description">
                <p>Blanket management.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                   AJS.dim();
                   setTimeout(function () { AJS.undim(); }, 1000);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">params <span class="aui-lozenge aui-lozenge-error">Deprecated</span></td>
            <td class="function-description">
                <p>Takes meta tags from the page and populates an object with them.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    AJS.populateParameters();
                    console.log(AJS.params);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">populateParameters <span class="aui-lozenge aui-lozenge-error">Deprecated</span></td>
            <td class="function-description">
                <p>Takes meta tags from the page and populates an object with them.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                   AJS.populateParameters();
                   console.log(AJS.params);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">$</td>
            <td class="function-description">
                <p>jQuery.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    console.log(AJS.$.fn.jquery);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">Cookie <span class="aui-lozenge aui-lozenge-error">Deprecated</span></td>
            <td class="function-description">
                <p>Store values in a persistent cookie without worrying about the application using too many cookies.</p>
            </td>
            <td>3.5.5</td>
            <td class="function-example">
               <noscript is="aui-docs-code" type="text/js">
                   // Save a value to the conglomerate cookie
                   AJS.Cookie.save("COOKIES_ARE_COOL", "true");

                   // Save will also update a value previously saved
                   AJS.Cookie.save("COOKIES_ARE_COOL", "not true");

                   // retrieve a value from the conglomerate cookie
                   AJS.Cookie.read("COOKIES_ARE_COOL");

                   // remove a value from the conglomerate cookie
                   AJS.Cookie.erase("COOKIES_ARE_COOL");
               </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">debounce <span class="aui-lozenge aui-lozenge-error">Deprecated</span></td>
            <td class="function-description">
                <p>Ensure that a constantly firing function doesn't cause performance issues.</p>
                <p>Don't use when binding to an infrequently firing event.</p>
            </td>
            <td>5.1</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    function myFunction() {
                        //function code
                    }

                    // This function won't fire if it has been less than 300ms before the last call
                    var myDebouncedFunction = AJS.debounce(myFunction, 300);
                    AJS.$(window).resize(myDebouncedFunction);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">debounceImmediate <span class="aui-lozenge aui-lozenge-error">Deprecated</span></td>
            <td class="function-description">
                <p>Like <code>debounce()</code>, makes sure that a constantly firing function doesn't cause
                    performance issues, but fires at the start rather than at the end of the wait period.</p>
                <p>Don't use when binding to an infrequently firing event.</p>
            </td>
            <td>5.9</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/html" lang="js">
                    function myFunction(){
                        //function code}
                    // This function fires immediately and will not fire again until the last call passes 300ms
                    var myDebouncedFunction = AJS.debounceImmediate(myFunction, 300);
                    AJS.$(window).resize(myDebouncedFunction);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">escapeHtml</td>
            <td class="function-description">
                <p>
                    The <code>AJS.escapeHtml()</code> function performs basic html-safe escaping of the input string.
                    Specifically, it encodes:
                </p>
                <ul>
                    <li>&lt;</li>
                    <li>&gt;</li>
                    <li>&amp;</li>
                    <li>'</li>
                    <li>"</li>
                </ul>
            </td>
            <td>4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    var url = "\u005C\u003E\u003Cscript\u003Ealert(\u0027XSS\u0027)\u003B\u003C/script\u003E";

                    // BAD: XSS problem
                    $("#mydiv").html(url);

                    // OKAY
                    $("#mydiv").html(AJS.escapeHtml(url));

                    // BETTER
                    $("#mydiv").html($.parseHTML(url));
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">log</td>
            <td class="function-description">
                <p>
                    A safe alternative to <code>console.log()</code>. It ensures that both console and the <code>console.log</code> method exist
                    before executing. This means if you happen to leave one in your code, browsers which don't support
                    <code>console.log</code> (eg. IE, some mobile browsers) shouldn't break.
                </p>
            </td>
            <td>1.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">AJS.log("Your message here.");</noscript>
            </td>
        </tr>
        <tr>
            <td class="function">version</td>
            <td class="function-description">
                <p>Returns the version of AUI.</p>
            </td>
            <td>1.2.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    // for peace-of-mind checking
                    AJS.log(AJS.version); // "3.0"
                    // To use it in all its glory
                    if (AJS.version == "3.0") {
                    // take advantage of the awesomeness of AUI 3.0
                    } else {
                    // write awesome custom code
                    }
                </noscript>
            </td>
        </tr>
        </tbody>
    </table>
</section>
