@import (reference) '../theme';
@import (reference) './dropdown';

@aui-dropdown2-bg-color: var(--aui-dropdown-bg-color);
@aui-dropdown2-border-color: var(--aui-dropdown-border-color);

@aui-dropdown2-tail-size: 8px;
