@import (reference) '../theme';

@aui-flag-fade-in-time: 0.2s;
@aui-flag-slide-in-time: 0.5s;
@aui-flag-fade-out-time: 0.8s;
@aui-flag-slide-out-time: 1s;
@aui-flag-stack-shrink-time: 0.5s;
@aui-flag-stack-shrink-delay: 0.5s;

@aui-flag-padding: 20px;
