@import (reference) '../theme';
@import (reference) './forms';

@aui-notification-error-color: var(--aui-form-notification-error-color);
@aui-notification-info-color: var(--aui-form-notification-info-color);
@aui-notification-success-color: var(--aui-form-notification-success-color);

@aui-notification-arrow-border: 1px;

@aui-notification-arrow-size: 6px;
@aui-notification-arrow-and-border-size: @aui-notification-arrow-size + @aui-notification-arrow-border;
@aui-notification-arrow-bottom-right-position: 10px;

@aui-notification-tipsy-padding: 4px;
@aui-notification-tipsy-inner-padding: 10px;

@aui-notification-list-padding: 20px;

@aui-notification-icon-outside-field-offset-top: 4px;
@aui-notification-icon-outside-field-offset-right: 2px;

@aui-notification-icon-outside-field-width: 16px;
@aui-notification-icon-outside-field-padding-left: 6px;
@aui-notification-icon-outside-field-padding-right: 16px;
@aui-notification-icon-outside-field-padding-top: 5px;

@aui-notification-line-height: unit(18px / @aui-font-size-medium);

@aui-notification-info-icon: @aui-glyph-info-circle;
@aui-notification-success-icon: @aui-glyph-check-circle;
@aui-notification-error-icon: @aui-glyph-exclamation-circle;
