#confined-container {
    width: 700px;
    padding: 10px;
    display: flex;
}
#confined-container article {
    position: relative;
    overflow: hidden;
    width: 80px;
    padding: 5px;
    flex: none;
}
#confined-container aside {
    overflow: hidden;
    position:relative;
    padding: 5px;
}
