
/* Overrides */
body {
    background: white; // Override the grey background color to be consistent with DAC
}

html, body {
    height: 100%;
}

#page {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 160px;  // 80px footer + 80px spacing
}

#footer {
    background: #f5f5f5;
    bottom: 0;
    height: 80px;
    left: 0;
    position: absolute;

    .footer-body {
        min-height: 0;
        padding: 0;
    }

    #footer-logo {
        bottom: 0;
        margin-top: 27px;
    }
}

.aui-page-panel {
    border-bottom: 0;
}

/* Header */
.intro-header {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;

    .subtitle {
        padding-bottom: 20px;
    }
}

/* Content */

.docs-intro {
    padding-top: 40px;
    padding-bottom: 40px;
}

.item-wrapper {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.guides-list {
    list-style-type: none;
    padding-left: 0;
}

.introblob {
    height: 192px;
    width: 192px;
}

.faq-example {
    padding: 20px 20px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

textarea.code-example {
    display: none;
}
