@import (reference) 'colors';

@aui-border-color: var(--aui-border);
@aui-border-type: solid;
@aui-border-style: solid;
@aui-border-width: 1px;
@aui-border-radius-small: 3px;
@aui-border-radius-smallish: 3.01px; // for IE10
@aui-border-radius-medium: 3px;
