---
layout: main-layout.hbs
title: AUI - Documentation
---

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main intro-header">
                <h1>Atlassian User Interface</h1>
                <p class="subtitle">AUI is a tailor-made frontend library for creating a user interface according to
                    the Atlassian Design Guidelines.
                </p>
                <a class="aui-button aui-button-primary" href="/aui/latest/docs/getting-started.html">Get started</a>
            </div>
        </div>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <div class="aui-group docs-intro">
                    <div class="aui-item">
                        <div class="item-wrapper">
                            <a href="/aui/latest/" class="centered">
                                <img src="assets/images/documentation.png" class="introblob">
                            </a>
                            <h2>Documentation</h2>
                            <p>Check out the documentation to learn more about the components and how to implement them.</p>
                            <ul class="guides-list">
                                <li>
                                    <p>
                                        <a href="/aui/latest/docs">
                                        Latest user guide
                                        <span class="aui-lozenge aui-lozenge-success aui-lozenge-subtle latest-version">
                                            {{version}}
                                        </span>
                                        </a>
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        <a href="/aui/latest/docs/upgrade-guide.html">Upgrade guides</a>
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        <a href="/aui/archive.html">Archived guides</a>
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="aui-item">
                        <div class="item-wrapper">
                            <a href="/aui/latest/docs/getting-started.html" class="centered">
                                <img src="assets/images/archive.png" class="introblob">
                            </a>
                            <h2>Resources</h2>
                            <p>Depending on the version of AUI, there are a number of ways to consume the library.</p>
                            <ul class="guides-list">
                                <li>
                                    <p>
                                        <a href="/aui/latest/index.html">Get started with AUI
                                            <span class="aui-lozenge aui-lozenge-success aui-lozenge-subtle latest-version">
                                                {{version}}
                                            </span>
                                        </a>
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        <a href="/aui/getting-started.html">Check out a few ways to consume AUI</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
