section {
    display: flex;
}
section > * {
    flex: 1 1 0;
}

.alignment-container {
    border: 1px dashed #999;
    padding: 10px;
}
.alignment-container + .alignment-container {
    margin-left: 200px;
}
#alignment-container-1 {
    width: 400px;
}

#alignment-container-2 {
    width: 400px;
}

#big-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 700px;
    padding: 10px;
}

.right-aligned, .right-aligned button {
    float: right;
}

#big-container p {
    flex-grow: 3;
}

#big-container > div {
    flex-grow: 1;
}

#mid-container {
    position: relative;
    overflow: hidden;
    width: 300px;
    padding: 5px;
    flex: none;
}
.small-container {
    overflow: hidden;
    position:relative;
    padding: 5px;
}
