@import (reference) './imports/global';

.aui-layer {
    font-size: 1rem; // resets for layer in case it was embedded in weird flow content like <h1>.
    position: fixed;
    text-align: left; // in case anybody used text-align for layout purposes

    &:not([open]),
    &[hidden] {
        display: none;
    }

    #aui.focus-visible(#aui.with-focus-ring());
}



.aui-blanket {
    #aui.transition.fadeOut(@aui-blanket-fade-time, @aui-blanket-fade-delay);

    background: @aui-blanket-bg-color;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2500;

    &:not([hidden]) {
        #aui.transition.fadeIn(@aui-blanket-fade-time, @aui-blanket-fade-delay);
    }
}
