<!--
    Keep in mind the quicksearch should have an unique `id`
    so that you can target it with a skip-link.

    See page layout docs for an example.

    Also for the purpose of landmark navigation using
    screen reader software use the `role="search"`.
-->
<form class="aui-quicksearch" method="post" action="/foo" id="search" role="search">
    <label class="assistive" for="quicksearchid">Search</label>
    <input type="search" name="quicksearchname" placeholder="Quick Search" class="search" id="quicksearchid">
</form>
