<!-- The skip links make it easier for keyboard-only users to jump to the crucial page content -->
<!-- Some of them may be optionally available for unauthenticated users... -->
<a class="aui-skip-link" href="https://example.com/log-in">Log in</a>
<!-- ...some are helpful anyway. -->
<a class="aui-skip-link" href="#main">Skip to main content</a>
