<table class="aui auidocs-colour-map">
    <colgroup>
        <col style="width: 12em;" />
        <col style="width: 12em;" />
    </colgroup>
    <thead>
        <tr>
            <th>Old colour</th>
            <th>New colour</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    {{#each colours}}
        <tr>
            <td>{{> colour-swatch colour=from}}</td>
            <td>{{> colour-swatch colour=to}}</td>
            <td>{{notes}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
