{{#with colour}}
<dl class="auidocs-swatch" style="background-color: {{raw}};">
    <dt class="assistive">Name</dt>
    <dd>{{name}}</dd>
    <dt class="assistive">Hex</dt>
    <dd><code>{{raw}}</code></dd>
</dl>
{{/with}}
