<a href="https://community.developer.atlassian.com/new-topic?tags=aui,aui-docs,aui-{{version}},{{component}}" class="aui-button aui-button-link docs-meta-link" target="_blank">Ask a question</a>
{{#if design}}
    <a href="{{design}}" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>
{{/if}}
